---
import { getCollection } from 'astro:content';

import '../styles/global.css';

import myPicture from '../assets/photo-moi.jpeg';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Pill from '../components/Pill.astro';

const competencies: { label: string }[] = [
	{ label: 'React' },
	{ label: 'Next' },
	{ label: 'Astro' },
    { label: 'Tailwind' },
    { label: 'Symfony' },
    { label: 'Git' },
    { label: 'Coolify' },
];
---
<Layout>
    <Header/>
    <Hero/>
    <main>
        <SectionTitle title="Qui suis-je ?" id="about">
            <div class="flex flex-col p-4 md:p-8 gap-4 md:gap-8">
                <div class="flex items-center gap-4">
                    <img src={myPicture.src} alt="Photo de Jocelyn">
                    <div class="flex flex-col gap-8">
                        <ul>
                            <li>Jocelyn</li>
                            <li>20 ans</li>
                            <li>3ème année en MMI</li>
                            <li>Aix-Les-Bains</li>
                        </ul>
                        <ul>
                            <li>Coach de volley</li>
                            <li>Passioné de sport</li>
                            <li>Jeux-vidéo</li>
                        </ul>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <div class="flex flex-col gap-8">
                    <h3>Compétences</h3>
                    <div class="flex flex-wrap gap-4 pr-8 lg:pr-42">
                        {competencies.map(({ label }) => (
                            <Pill>{label}</Pill>
                        ))}
                    </div>
                </div>
            </div>
        </SectionTitle>    
    </main>
</Layout>
