---
import { getCollection } from 'astro:content';

import '../styles/global.css';

import myPicture from '../assets/photo-moi.jpeg';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<Layout>
    <Header/>
    <Hero/>
    <main>
        <SectionTitle title="Qui suis-je ?" id="about">
            <div class="flex flex-col">
                <div>
                    <img src={myPicture.src} alt="Photo de Jocelyn">
                </div>
                <div class="horizontal-line"></div>
                <div class="flex flex-col">
                    <ul>
                        <li>Jocelyn</li>
                        <li>20 ans</li>
                        <li>3ème année en MMI</li>
                        <li>Aix-Les-Bains</li>
                    </ul>
                    <ul>
                        <li>Coach de volley</li>
                        <li>Passioné de sport</li>
                        <li>Jeux-vidéo</li>
                    </ul>
                </div>
            </div>
        </SectionTitle>    
    </main>
</Layout>
