---
import arrow from '../assets/arrow.svg';
---
<div class="hero px-4 md:px-8 flex flex-col justify-between gap-8 md:h-svh">
    <div class="flex flex-col justify-between gap-8 md:h-full">
        <div class="title pt-20">
            <h1 class="text-8xl">Portfolio</h1>
            <h1 class="text-8xl">Développeur web</h1>
        </div>
        <div class="arrow bg-black rounded-full w-fit p-5">
            <img src={arrow.src} alt="Flèche vers la droite">
        </div>
    </div>
    <div class="horizontal-line"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const header = document.querySelector('header');
        const hero = document.querySelector('.hero');
        const headerHeight = header.offsetHeight;
        // Check if it's mobile or desktop
        if (window.innerWidth > 768) {
            hero.style.height = `calc(100vh - ${headerHeight}px)`;
        } else {
            hero.style.height = '50vh';
        }
    });
</script>